<div class="container">
  <app-cockpit
    (serverCreated)="
      onServerAdded({ name: $event.serverName, content: $event.serverContent })
    "
    (blueprintCreated)="
      onBlueprintAdded({
        name: $event.serverName,
        content: $event.serverContent
      })
    "
  ></app-cockpit>

  <hr />
  <div class="row">
    <div class="col-xs-12"></div>
    <app-server-element
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
    ></app-server-element>
  </div>
</div>
